- @wants.each do |want|
  - @shop = Shop.find(want.shop_id)
  .user-mypage-wannago-shops
    .gone-wannago-buttons
      .button-gone
        %button.shop-review-post-like-wannago__buttons--gone
          %i.fas.fa-heart
          行った
      .button-wannago
        .shop-review-post-like-wannago__buttons--wannago
          = render partial: 'wants/want_links', locals: {shop: @shop}
    .user-mypage-wannago-shops-left
      .user-mypage-wannago-shops__image
        = image_tag @shop.pic1
    .user-mypage-wannago-shops-right
      %a.user-mypage-wannago-shops__shop-name{ href: "/shops/#{want.shop.id}"}
        = @shop.shop_name
      .user-mypage-wannago-shops__info1
        .user-mypage-wannago-shops__info--station
          = @shop.city_address
        .user-mypage-wannago-shops__info--genre
          - want.shop.genres.each do |genre|
            = genre.name
      .user-mypage-wannago-shops__rate
        .user-mypage-wannago-shops__rate--star
          %span.rating-star
            %span{class: :"star-actived rate-#{want.shop.star_review_average}0"}
        .user-mypage-wannago-shops__rate--score
          = want.shop.review_average
      .user-mypage-wannago-shops__info2
        .user-mypage-wannago-shops__info2--budget-dinner
          .far.fa-moon
          - want.shop.budgets.each do |budget|
            = budget.name
        .user-mypage-wannago-shops__info2--budget-lunch
          .far.fa-sun
          - want.shop.budgets.each do |budget|
            = budget.name
        .user-mypage-wannago-shops__info2--budget-off
          %span ㉁
          = @shop.closed_day
