= render partial: 'shares/header'
.location
  .location__left
    %ul
      %li.fa.fa-home
      = link_to shops_path, method: :get do
        %li 食べログ
      %li > レストラン新規登録

  .location__right
    %ul
    = link_to '#' do
      %li (店舗数)店舗
    %li (口コミ数)

.content
  .content__side
    .content__side__top
      .content__side__top__area
        .content__side__top__area__header エリアから探す
        .content__side__top__area__main 全国
        .content__side__top__area__footer
          %a.target{href: "#"} このエリアを地図で見る
      .content__side__top__genre
        .content__side__top__genre__header ジャンルから探す
        .content__side__top__genre__main すべて

  .content__main
    .content__main__header
      .content__main__header__title
        %span.title 全国のお店、レストラン
        %span.count 1000
        %span.unit 件
      %a.search_form 検索条件を変更

    %ul.nav.nav-tabs
      %li.nav-item.origin
        %a.nav-link{href: "#"}
          .fa.fa-utensils
          %span 標準【会員店舗優先】
      %li.nav-item.rank
        %a.nav-link{href: "#"}
          .fa.fa-chess-king
          %span ランキング
      %li.nav-item.review
        %a.nav-link{href: "#"}
          .fa.fa-comment
          %span 口コミ数

    .content__main__list
      %span.page-count 1~20 件を表示
      %span ／
      %span.shop.count 全 100 件

    .content__main__shop
      - @shops.each do |shop|
        .content__main__shop__each
          .content__main__shop__each__header
            .content__main__shop__each__header__inner
              %a.rst_name{href: "#"}
                = shop.shop_name

            %ul.btn
              %button.btn.btn-outline-secondary{type: "button"}
                .fa.fa-heart
                  = link_to "行った", new_shop_review_path(shop.id), method: :get
              %button.btn.btn-outline-secondary{type: "button"}
                .fa.fa-map-pin  行きたい

          .content__main__shop__each__body

            .content__main__shop__each__body__left
              .content__main__shop__each__body__left__frame
                = image_tag shop.pic1.url, class: "photo1" if shop.pic1.present?
                %ul.photolist
                  %li.photolist
                    = image_tag shop.pic1.url, class: "photo1" if shop.pic1.present?
                  %li.photolist
                    = image_tag shop.pic2.url, class: "photo2" if shop.pic2.present?
                  %li.photolist
                    = image_tag shop.pic3.url, class: "photo3" if shop.pic3.present?
                  %li.photolist
                    = image_tag shop.pic4.url, class: "photo4" if shop.pic4.present?
                  %li.photolist
                    = image_tag shop.pic5.url, class: "photo5" if shop.pic5.present?

            .content__main__shop__each__body__right
              %p.pr
                = shop.prtext

              .content__main__shop__each__body__right__rate
                - if shop.reviews.present?
                  %span.rating-star
                    %i{:class => "star-actived rate-#{shop.reviews.average(:rate).round}0"}
                - else
                  %span.rating-star
                    %i.star-actived.rate-0
                %span
                  = shop.review_average
                .fa.fa-comments
                %a.review{href: "#"} 25件

              .content__main__shop__each__body__right__review
                %a.title{href: "#"}sss
                %span.name by.NAME
                %p.review レビューが表示されるよー。ふぁいと٩( 'ω' )و
    .content__main__page
      = paginate @shops
= render partial: 'shares/footer'
