= render partial: 'shares/header'
.location
  .location__left
    %ul
      %li.fa.fa-home
      = link_to shops_path, method: :get do
        %li 食べログ
      %li > レストラン新規登録

  .location__right
    %ul
    = link_to '#' do
      %li (店舗数)店舗
    %li (口コミ数)口コミ

.main
  .main__heading レストラン新規登録(レストラン情報入力)

  .main__notice
    .main__notice__text
      レストランを追加する際には、レストラン情報が最新のものであることをご確認の上、入力してください。
      %br/
      また、当サイトの趣旨にあわないお店は管理側で判断し、削除する場合がございますので、ご了承ください。

  .main__rst-form
  = form_for @shop do |f|
    .main__rst-form__title 店名
    %table.input
      %tbody
        %tr
          %th
            .emphasis 必須
            = f.label :"店名"
          %td
            .input
              = f.text_field :shop_name
        %tr
          %th
            .emphasis 必須
            = f.label :"フリガナ"
          %td
            = f.text_field :shop_name_f
    .p.attention ※店名表記は管理側で修正する場合がございますので、あらかじめご了承ください。

    .main__rst-form__title 電話番号・住所
    %table.input
      %tbody
        %tr
          %th
            .emphasis 必須
            = f.label :"電話番号"
          %td
            = f.text_field :phone_number
            %p.notice 電話番号がない、または一般公開していないなどでわからないお店は管理側で登録しますので、お問い合わせフォームよりご依頼ください。
        %tr
          %th
            = f.label :"都道府県"
          %td
            = f.collection_select :prefecture_ids, Prefecture.all, :id, :name
        %tr
          %th
            .emphasis 必須
            = f.label :"市町村区・番地"
          %td.city-address
            = f.text_field :city_address, class:"city_address"
            %button{id:"searchAddressBtn", value:"検索", type:"button"}
              場所を検索
            %p.notice 入力した住所を元に下記の地図にマーカーをポイントします。住所を入力後、「場所を検索」ボタンをクリックしてください。
        %tr
          %th
            = f.label :"ビル名・階数"
          %td
            = f.text_field :building
        %tr.google-map
          %th
            = f.label :"地図"
          %td
            #map{:style => "width: 100%; height: 160px;"}
            = f.text_field :latitude, readonly:"readonly"
            = f.text_field :longitude, readonly:"readonly"
    .main__rst-form__title 店舗情報
    %table.input
      %tbody
        %tr
          %th
            = f.label :"お店のPRタイトル"
          %td
            = f.text_field :prtext
        %tr
          %th
            = f.label :"見出しのサブタイトル"
          %td
            = f.text_field :sub_prtext
        %tr
          %th
            = f.label :"店舗・料理写真1"
          %td
            = f.file_field :pic1
        %tr
          %th
            = f.label :"店舗・料理写真2"
          %td
            = f.file_field :pic2
        %tr
          %th
            = f.label :"店舗・料理写真3"
          %td
            = f.file_field :pic3
        %tr
          %th
            = f.label :"店舗・料理写真4"
          %td
            = f.file_field :pic4
        %tr
          %th
            = f.label :"店舗・料理写真5"
          %td
            = f.file_field :pic5
        %tr
          %th
            = f.label :"メニュー名"
          %td
            = f.text_field :menu_name_1
        %tr
          %th
            = f.label :"メニューの詳細情報"
          %td
            = f.text_field :menu_detail_1
        %tr
          %th
            = f.label :"メニューの現在の価格"
          %td
            = f.text_field :menu_price_1
        %tr
          %th
            = f.label :"メニューの写真"
          %td
            = f.file_field :menu_image_1
        %tr
          %th
            = f.label :"メニュー名"
          %td
            = f.text_field :menu_name_2
        %tr
          %th
            = f.label :"メニューの詳細情報"
          %td
            = f.text_field :menu_detail_2
        %tr
          %th
            = f.label :"メニューの現在の価格"
          %td
            = f.text_field :menu_price_2
        %tr
          %th
            = f.label :"メニューの写真"
          %td
            = f.file_field :menu_image_2
        %tr
          %th
            = f.label :"メニュー名"
          %td
            = f.text_field :menu_name_3
        %tr
          %th
            = f.label :"メニューの詳細情報"
          %td
            = f.text_field :menu_detail_3
        %tr
          %th
            = f.label :"メニューの現在の価格"
          %td
            = f.text_field :menu_price_3
        %tr
          %th
            = f.label :"メニューの写真"
          %td
            = f.file_field :menu_image_3
        %tr
          %th
            = f.label :"メニュー名"
          %td
            = f.text_field :menu_name_4
        %tr
          %th
            = f.label :"メニューの詳細情報"
          %td
            = f.text_field :menu_detail_4
        %tr
          %th
            = f.label :"メニューの現在の価格"
          %td
            = f.text_field :menu_price_4
        %tr
          %th
            = f.label :"メニューの写真"
          %td
            = f.file_field :menu_image_4
        %tr
          %th
            = f.label :"メニュー名"
          %td
            = f.text_field :menu_name_5
        %tr
          %th
            = f.label :"メニューの詳細情報"
          %td
            = f.text_field :menu_detail_5
        %tr
          %th
            = f.label :"メニューの現在の価格"
          %td
            = f.text_field :menu_price_5
        %tr
          %th
            = f.label :"メニューの写真"
          %td
            = f.file_field :menu_image_5


    .main__rst-form__title 店舗詳細情報
    %table.input
      %tbody
        %tr
          %th
            = f.label :"ジャンル"
          %td
            = f.collection_select :genre_ids, Genre.all, :id, :name
        %tr
          %th
            = f.label :"予算"
          %td
            = f.collection_select :budget_ids, Budget.all, :id, :name
        %tr
          %th
            = f.label :"営業時間"
          %td
            .input
              = f.text_field :hours
        %tr
          %th
            = f.label :"定休日"
          %td
            .input
              = f.text_field :closed_day
        %tr
          %th
            = f.label :"最寄駅"
          %td
            = f.text_field :station

    .main__rst-form__footer
      .main__rst-form__footer__btn
        .main__rst-form__footer__btn__back
          = link_to "戻る", @shop
        .main__rst-form__footer__btn__submit
          = f.submit "登録する", class: "submit_btn"
= render partial: 'shares/footer'
