.header
  .headers
    .header_upper
      .header_upper__left
        %span.header_upper__left-shopname
          全国
        %span.header_upper__left-location
          すべて
      .header_upper__right
        %ul.upper__right-list
          %li.upper__right-list__message
            メッセージ
          %li.upper__right-list__notice
            お知らせ
          %li.upper__right-list__confirm
            予約確認
          - if user_signed_in?
            %li.upper__right-list__gone
              %a.user-menu__target{ href: "/users/#{current_user.id}/show_all"}
                行った・行きたい
            %li.upper__right-list__mypage
              = link_to "マイページ", user_path(current_user.id), method: :get
            %li.upper__right-list__avatar
              - if current_user.avatar?
                %a{href: "#{user_path(current_user.id)}"}
                  = image_tag current_user.avatar.url
              - else
                = image_tag "avatar_nophoto.gif"
            %li.upper__right-list__tpoint
              = render 'shops/top_drop_down'
          - else
            %li.upper__right-list__gone
              %a.user-menu__target 行った・行きたい
              .overlay
              .modalWindow
                = render partial: './devise/registrations/new'
            %li.upper__right-list__login
              %a.link-logins
                ログイン
    .header_down
      .header_down__left
        = link_to image_tag("logo_tabelog.svg"), root_path
      .header_down__right
        = form_tag shops_path, method: :get do
          = text_field_tag :search, params[:search], { placeholder: "キーワード[例:お肉、立川]"}
          = button_tag type: 'submit', class: 'header_search' do
            %i.fa.fa-search.fa-2x
      %ul#hitlist
