.like-link{id: "like-link-#{review.id}"}
  - if current_user.likes.find_by(review_id: review.id)
    = link_to unlike_path(review.id), method: :delete, remote: true do
      .likeing
        %button.fa.fa-heart{id: "heart-#{review.id}"}
          いいね！を取り消す
        %span.like_counter
        = review.likes.count.to_s
  - else
    = link_to like_path(review.id), method: :post, remote: true do
      .likeing
        %button.far.fa-heart{id: "heart-#{review.id}"}
          いいね！
        = review.likes.count.to_s

/ - if user_signed_in?
/   - if review.like_user(current_user.id)
/     = button_to review_like_path(like, review_id: review.id), method: :delete, id: "like-button", remote: true do
/       = image_tag("icon_red_heart.svg")
/       %span
/         = review.like_count
/   - else
/     = button_to review_likes_path(review), id: "like-button", remote: true do
/       = image_tag("icon_heart.svg")
/       %span
/         = review.like_count
/ - else
/   = image_tag("icon_heart.svg")
/   %span
/     = review.like_count
/ %button.btn.btn-outline-secondary{type: "button"}
/                 .fa.fa-heart  行った
