= render partial: 'shares/header'
.mypage-view
  .mypage-heading-wrap
    #mypage-location-wrap
      #location-wrap
        #location
          %ul.location-bar
            %li
              %span= image_tag 'home_icon.png'
            %li.link
              = link_to "食べログ"
            %li
              %span= image_tag 'location_arrow.png'
            %li.link
              = link_to "食べログレビュアー"
            %li
              %span= image_tag 'location_arrow.png'
            %li.username
              %p
                = @user.nickname
                さん
    .mypage-header-wrap
      .mypage-header
        .mypage-header__cover-image
          #cover-image
            = form_for @user do |f|
              .change-cover-image
                -if current_user.background_image.nil?
                  = image_tag "nature-wallpaper-2.jpg", class:'image'
                -else
                  = image_tag @user.background_image.url, class:'image'
                %label.change-header-cover.fas.fa-camera
                  カバー写真を変更
                  = f.file_field :background_image, style: 'display: none;'
                  = f.hidden_field :user_id, value: current_user.id
                = f.submit "変更を保存する", class: "cover-image-submit"
          .page-name
            %p
              = @user.nickname
              のレストランガイド
          / 下記にフォローボタンのビューファイルをrender
          = render 'follow_form'
          .rvwr-page-setting
            = link_to "レビュアーページ設定", edit_user_path

        =form_for @user do |f|
          .mypage-header__user-avatar
            -if current_user.avatar?
              = image_tag @user.avatar.url
            -else
              = image_tag "avatar_nophoto.gif"
            %label.change-header-avatar-image.fas.fa-camera
              変更
              = f.file_field :avatar, style: 'display: none;'
              = f.hidden_field :user_id, value: current_user.id
            = f.submit "保存", class: "mypage-avatar-image-submit"
        .mypage-header-contents
          .mypage-header-contents__image-wrap
          .mypage-header-contents__info
            .mypage-header-contents__userinfo
              .mypage-header-contents__info--nickname
                = @user.nickname
              .mypage-header-contents__info--prof
                = link_to "➤ プロフィール詳細"
    .follower-container
      .follower-contents
        .follower-heading
          フォロワー
          = @user.followers.count
          人
        %ul.follower-grouping
          %li.follower-rvw-newest
            = link_to "口コミ最新更新日"
          %li.follower-view-sort
            = link_to "登録日"
        .js-user-rvwr-contents
          .follower-rvwr-list
            .follower-rvwr-list__box
              / ここに三つのユーザを入れる
              - @user.followers.each do |user|
                .follower-rvwr-list__item{ href: "#{user_path(@user)}"}
                  .follower-rvwr-item
                    .follower-rvwr-item__header
                      .follower-rvwr-item__cover.p-rvwr-cover.p-rvwr-cover--s
                        .rvwr-cover-img
                          .img-frame
                            = image_tag user.background_image.url, width:" 300", height: "80", class: "up-image"
                      .follower-rvwr-item__user-img
                        .rvwr-user-img__box
                          = image_tag user.avatar.url, width:"60", height:"60", class: "user-image"
                      %p.follower-rvwr-item__page-name
                        = user.nickname
                    .follower-rvwr-item__contents
                      .follower-rvwr-item__contents-head
                      %p.follower-rvwr-item__log-count
                      %p.follower-rvwr-item__count
                      %p.follower-rvwr-item__lastupdate

    / - @user.followers.each do |user|
    /   %table
    /     %tr
    /       %td
    /         = user.nickname
    /       %td= link_to '詳細', user_path(user)
    = render partial: 'shares/footer'
