#mypage-location-wrap
  #location-wrap
    #location
      %ul.location-bar
        %li
          %span= image_tag 'home_icon.png'
        %li.link
          食べログ
        %li
          %span= image_tag 'location_arrow.png'
        %li.link
          食べログレビュアー
        %li
          %span= image_tag 'location_arrow.png'
        %li.username
          itismorningさん

.mypage-header-wrap
  .mypage-header
    .mypage-header-cover
      #cover-image
      #page-info
        itismorningのレストランガイド
      #user-avatar
        %span= image_tag 'avatar_nophoto.gif'
      #header-cover_actions
        レビュアーページ設定
    .mypage-header-contents
      .mypage-header-contents__image-wrap
      .mypage-header-contents__info
        .mypage-header-contents__info--nickname
        .mypage-header-contents__info--prof
      .mypage-header-contents__counts
        .rvwr-counter
          %dl
            %dt
            %dd
          %dl
            %dt
            %dd
          %dl
            %dt
            %dd
          %dl
            %dt
            %dd
    .mypage-header-navi
      .mypage-header-navi__log
      .mypage-header-navi__rvw
      .mypage-header-navi__interest
      .mypage-header-navi__matome
      .mypage-header-navi__follow
      .mypage-header-navi__follower

#logout
  = link_to "ログアウト", destroy_user_session_path, method: :delete
