.shops-reviews-wrap
  .shops-review-post
    .shop-review-post__user-info
      .shop-review-post__user-info--avatar
        = link_to image_tag(review.user.avatar.url), user_path(review.user.id)
      .shop-review-post__user-info--right
        .shop-review-post__user-info--username
          %p.review-user-name
            %a.nickname{href: "#{user_path(review.user.id)}"}
              = review.user.nickname
          %p.reviewer-follower-number
            %a{href: "#{follower_path(review.user.id)}"}
              (
              = review.user.followers.count
              )
          %p
            さんの口コミ
        .shop-review-post__user-info--moreinfo
          - @prefecture.each do |prefecture|
            %p
              = prefecture.name
    .shop-review-post__rst-review
      - if review.lunch_dinner == 1
        .shop-review-one-time
          %p.shops-shop-review-visited-month
            = review.visit_day.strftime('%Y/%m')
            訪問
        .shop-review-post__rst-review--score-data
          .shop-review-score
            .far.fa-moon
            .shop_views-namespace__ratestar
              %span{class: :"star-actived rate-#{review.rate.round * 10}"}
            .shop-review-rating-point
              = review.rate.round(1) unless review.rate == nil
            %ul.shop-review-rate-detail
              %li.food-rate
                %p
                  料理・味
                  %strong
                    = review.food_rate.round(1) unless review.food_rate == nil
              %li.service-rate
                %p
                  サービス
                  %strong
                    = review.service_rate.round(1) unless review.service_rate == nil
              %li.atmosphere-rate
                %p
                  雰囲気
                  %strong
                    = review.atmosphere.round(1) unless review.atmosphere == nil
              %li.cp-rate
                %p
                  CP
                  %strong
                    = review.cp_rate.round(1) unless review.cp_rate == nil
              %li.drink-rate
                %p.drink-rate
                  酒・ドリンク
                  %strong
                    = review.drink_rate.round(1) unless review.drink_rate == nil
      - else
        .shop-review-one-time
          %p.shops-shop-review-visited-month
            = review.visit_day.strftime('%Y/%m')
            訪問
        .shop-review-post__rst-review--score-data
          .shop-review-score
            .far.fa-sun
            .shop_views-namespace__ratestar
              %span{class: :"star-actived rate-#{review.rate.round * 10}"}
            .shop-review-rating-point
              = review.rate.round(1) unless review.rate == nil
            %ul.shop-review-rate-detail
              %li.food-rate
                %p
                  料理・味
                  %strong
                    = review.food_rate.round(1) unless review.food_rate == nil
              %li.service-rate
                %p
                  サービス
                  %strong
                    = review.service_rate.round(1) unless review.service_rate == nil
              %li.atmosphere-rate
                %p
                  雰囲気
                  %strong
                    = review.atmosphere.round(1) unless review.atmosphere == nil
              %li.cp-rate
                %p
                  CP
                  %strong
                    = review.cp_rate.round(1) unless review.cp_rate == nil
              %li.drink-rate
                %p.drink-rate
                  酒・ドリンク
                  %strong
                    = review.drink_rate.round(1) unless review.drink_rate == nil
      .shop-review-price
        .shop-review-used-price
          %p
            使った金額（1人）：
          - review.budgets.each do |budget|
            - if review.lunch_dinner == 1
              .far.fa-moon
            - else
              .far.fa-sun
            .shop-price-range
              = budget.name
    .shop-review-post-contents
      .shop-review-post__rst-review--content
        .shop-review-title
          %p
            %a
              = review.title
        .shop-review-text
          %p
            = simple_format(review.text)
      .shop-review-post-contents-images
        %ul.shop-review-post-contents-images.ul
          %li.shop-review-post-contents-image1
            = image_tag review.pic1
          %li.shop-review-post-contents-image2
            = image_tag review.pic2
          %li.shop-review-post-contents-image3
            = image_tag review.pic3
          %li.shop-review-post-contents-image4
            = image_tag review.pic4
          %li.shop-review-post-contents-image5
            = image_tag review.pic5
      .shop-review-post-like-wannago
        .shop-review-post-like-wannago__buttons
          = render partial: 'likes/like_links', locals: {review: review}
          .shop-review-post-like-wannago__buttons--wannago
            = render partial: 'wants/want_links', locals: {shop: @shop}
        .shop-review-post-who-likes
          .shop-review-post-who-likes__count
            %p.number-who-likes
              = review.likes_count
            %p
              人が「いいね！」しています。
          - review.likes.each do |like|
            .shop-review-post-who-likes__icons
              = link_to user_path(like.user.id) do
                = image_tag "#{like.user.avatar}"
        .shop-review-post-who-wannago
          .shop-review-post-who-wannago__count
            %p.number-who-wannago
              1
            %p
              人が「行きたい」しています。
          .shop-review-post-who-wannago__icons
      .shop-review-post-contents-notice
        %p.shop-notice-message1
          利用規約に違反している口コミは、右のリンクから報告することができます。
        %p.shop-notice-message2
          = link_to "➤ 問題のある口コミを連絡する"
