= render partial: 'shares/header'
= render partial: 'users/heading_wrap'
.follow-container
  .follow-contents
    .follow-heading
      フォロー中
      = @user.followings.count
      人
    %ul.follow-grouping
      %li.follow-rvw-newest
        = link_to "口コミ最新更新日"
      %li.follow-view-sort
        = link_to "登録日"
    .js-user-rvwr-contents
      .follow-rvwr-list
        .follow-rvwr-list__box
          - @user.followings.each do |user|
            .follow-rvwr-list__item
              .follow-rvwr-item
                .follow-rvwr-item__header
                  .follow-rvwr-item__cover.p-rvwr-cover.p-rvwr-cover--s
                    .rvwr-cover-img
                      .img-frame
                        %a{href: "#{user_path(user.id)}"}
                          = image_tag user.background_image.url, width:" 300", height: "80", class: "up-image"
                  .follow-rvwr-item__user-img
                    .rvwr-user-img__box
                      %a{href: "#{user_path(user.id)}"}
                        = image_tag user.avatar.url, width:"60", height:"60", class: "user-image"
                  - @user.reviews.first(1).each do |review|
                    %p.follow-rvwr-item__page-name
                      %a{href: "#{show_gone_user_path(user.id)}", style: "color: white"}
                        = review.title
                .follow-rvwr-item__contents
                  .follow-rvwr-item__contents-head
                    .follow-rvwr-item__status
                      %p.follow-rvwr-item__status-text
                        %span.rvwr-nickname
                          %a{href: "#{user_path(user.id)}"}
                            = user.nickname
                          = link_to '詳細', user_path(user)
                        %span.follow-rvwr-item_attr
                          フォロワー人数:
                          %a{href: "#{follower_path(user.id)}"}
                            = user.followers.count
                    .follow-rvwr-item__follow
                  %p.follow-rvwr-item__log-count
                    %a{href: "#{show_gone_user_path(user.id)}", style: "color: black"}
                      = user.reviews.count
                      ログ
                  %p.follow-rvwr-item__count
                    %a{href: "#{show_gone_user_path(user.id)}", style: "color: black"}
                      = user.reviews.count
                      軒のお店に行きました
                  %p.follow-rvwr-item__lastupdate
                    %span.rf-today.today-highlight
                    - user.reviews.first(1).each do |review|
                      最終更新日
                      = review.updated_at.strftime('%Y/%m/%d')
= render partial: 'shares/footer'
